// --------LIGHT
@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Light\ Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}


// --------REGULAR
@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Regular.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}


// --------MEDIUM
@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Medium\ Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}


// --------SEMIBOLD
@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ SemiBold\ Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}


// --------BOLD
@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Bold\ Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "EuclidCircular";
  src: url(fonts/Euclid\ Circular\ B\ Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
